.card{
    margin: 0 auto;
    width: 300px;
    height: auto;
    // background-color: aquamarine;
    background-image: url('https://media.istockphoto.com/id/1357410492/photo/outer-space-fantasy.webp?b=1&s=170667a&w=0&k=20&c=Cs6L-fUOnXcr4TjWaF8O9YV-YSE88UgTBpm1q7TCTFE=');
    color: #fff;
    font-size: 22px;
    font-weight: 900;
    padding: 20px;
    text-align: center;
    margin-bottom: 20px;
}
.card-heading,.card-body,.card-footer{
    padding: 10px;

}


